{% extends 'blog/index.html' %}

{% block title %}Форма к регистрации на рассылку{% endblock %}

{% block content %}
 <main class="px-3">
    <h1>Наши контакты:</h1>
    <p><a style="color:red" class="lead " href="https://vk.com/">VKONTAKTE</a></p>
    <p><a style="color:green" class="lead " href="https://www.instagram.com">INSTAGRAM</a></p>
    <p><a  style="color:pink" class="lead " href="https://www.youtube.com">YOUTUBE</a></p>
    <p><a  style="color:gray" class="lead " href="twitch.tv/">TWITCH</a></p>


    <p class="lead">
    </p>
  </main>
{% endblock %}