{% extends 'blog/index.html' %}

{% block title %}Список подписчиков на рассылку{% endblock %}

{% block content %}
    <div class="features">
        <h1>Информация о нас:</h1>
        <p>С недавнего времени  я все больше  понимаю, что Аниме — это не только жанр и мое любимое времяпровождение, но также особая часть меня, в которой я вижу себя по-другому...

И мне сегодня хотелось бы с вами поделится этим, а еще  поподробнее рассмотреть данную тематику в ином ключе.

Каждый день, просматривая тот или иной тайтл, я сопереживаю гг и его любимой тяночке, потому что нахожу в них самого себя… И это прекрасно!!! Только подумайте, как 2D персонаж способен в себя влюбить и заставить тебя думать о нем! (этого реального трудно достичь, но каков результат!!!)

К чему я клоню? Как нам всем известно, видеоигры, фильмы и музыка, связанная с тематикой данной статьи, -это все массовая культура. Но, как лично мне кажется, ограничиваться лишь этим определением нельзя! Это то направление, которое плавно перетекает и в другие сферы(косплей). Да, мы самовыражаемся, следим за этим со стороны или просто интересуемся.  Проявление  всего этого  — искусство и культура.

</p>

    </div>
{% endblock %}