{% extends 'blog/index.html' %}

{% block title %}Список блог-постов{% endblock %}

{% block content %}
<div class="features">
    <h1>Добро пожаловать</h1>
    <p>Привет, друзья!

Проект Анимеблог с вами аж с 2006 года. Он объединил более 50 тысяч любителей японской анимации и стал уникальной площадкой для бесплатного распространения и популяризации аниме, манги, фанфиков и творчества наших пользователей. За счет того, что возможность добавлять информацию была у любого пользователя, с годами он вырос до приличных размеров: сотни тысяч загруженных файлов и изображений, миллионы сообщений, а в общей сложности - более 4 террабайт дискового пространства.

К сожалению, большой размер сайта требует серьезных вложений на его содержание. Сейчас вышли из строя 2 из 6 жестких дисков с архивами, нужны новые. Мы просим вас помочь, чтобы сайт мог беззаботно работать и дальше. А если многие примут участие, проявят интерес и соберем сумму больше минимально необходимой, мы готовы развивать проект дальше!

Если написать комментарий к переводу (пожелание или ник на сайте), он будет опубликован на отдельной странице с благодарностями!</p>
    <button class="btn btn-warning">Просмотр блогов</button>
</div>
{% endblock %}